* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  cursor: url("../img/cursor.png"), not-allowed; /* byter cursor för skojs skull*/
}
::selection { /* gör så att det ser lite professionellare tu genom att byta färg på textmarkering*/
  background-color: rgb(20, 40, 99);
  color: #fff;
}

html{
  scroll-behavior: smooth; /* gör så att man inte får ont i ögonen när man trycker på knappen och teleporteras iväg*/
}
body { /*sätter font och font-size till 10 px för att göra det lätt att använda rem*/
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
h1 {
  font-size: 6rem;
  font-weight: 300;
}
h2 {
  font-size: 2.5rem;
  font-weight: 300;
}

p {
  font-size: 1.5rem;
  color: #333;
}

/* main header */

.main-header {
  background: url("../img/hero.jpg");
  background-attachment: fixed;   /* lite häftig effekt*/
  background-position: center; /* blir bra på mindre skärmar*/
  background-repeat: no-repeat; /* så att det inte blir fel på mindre skärmar*/
  height: 100vh;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.main-header h1 {
  display: block;
  padding-top: 3rem;
  margin-bottom: 2rem;
  font-size: 4rem;
}
.main-header a {
  display: block;
  background-color: #0984e3;
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 1rem;
  margin: 4rem 2rem;
}

.main-header a:hover {
  background-color: #05487a;
  transition-duration: 0.2s;
}

.main-header h2 {
  font-size: 3rem;
  background-color: rgba(9, 132, 227, 0.6);
}

/* info-text*/
.info {
  margin-bottom: 2rem;
}
.info h2 {
  margin: 2rem 0.5rem;
  font-size: 2.5rem;
}
.info p {
  font-size: 1.5rem;
  margin: 1rem 0.5rem;
}
.info h2:after { /* fixar till linjen under titeln med hjälp an :after pseudoklassen*/
  content: "";
  display: block;
  background: #0984e3;
  width: 40vw;
  height: 0.2rem;
  margin: 0 auto;
}

.info img {
  width: 100vw; /* så att bilderna är lika breda som skärmen*/
}
.info {
  text-align: center;
}

/* activities */

.activity {
  text-align: center;
  margin: 0;
  overflow: hidden; /* så att det inte blir så att man kan scrolla åt sidan, för det ser fruktansvärt ut*/
}
.activityimg {
  padding: 0;
  margin: 0;
}
.activityimg img {
  margin: 0;
  width: 100vw;
}
.activity-header {
  padding-bottom: 1rem;
}
.activity .activity-text {
  padding: 1rem 0.5rem;
  letter-spacing: 0.08rem;
}

.activity:nth-child(odd) {
  background-color: #f7f7f7; /* väljer varannan .activity och färgar den grå*/
}

/* form */
.book-section {
  background-color: #f7f7f7;
  width: 100vw;
  font-size: 1.4rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
}
.book-section .form-header {
  background-color: #0984e3;
  color: #fff;
  width: 100%;
  text-align: center;
}

.book-section .book-form li {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}
.book-section input {
  width: 50%;
}
.book-section button {
  width: 10rem;
  border: none;
  display: block;
  margin: 2rem auto;
  background-color: #0984e3;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}
.book-section button:hover {
  background-color: #05487a;
  transition-duration: 0.2s;
}

/* footer */

footer {
  text-align: center;
  background-color: #f7f7f7;
}
footer .numemail {
  background-color: #0984e3;
}
footer p {
  color: #fff;
}
footer a {
  font-size: 1.3rem;
  color: #fff;
}

footer a:hover {
  transition-duration: 0.15s;
  opacity: 0.5;
}
footer .numemail {
  padding: 1rem;
}
footer .numemail * {
  margin: 0.3rem;
}

@media screen and (min-width: 480px) { /* media queries för skärmar större än telefefoner, mest för att inte headern ska bli ful*/
  .main-header a {
    position: absolute;
    margin: 0;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    font-size: 4rem;
  }
  .info h2:after {
    content: "";
    display: block;
    background: #0984e3;
    width: 20%;
    height: 0.2rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) { /* media queries för allt annat än telefoner och tablets*/
  .main-header h1 {
    font-size: 6rem;
  }
  .main-header h2 {
    font-size: 3.5rem;
  }
  .info{
    width: 50%;
    margin: 1rem auto;
  }
  .info h2:after {
    content: "";
    display: block;
    background: #0984e3;
    width: 15%;
    height: 0.2rem;
    margin: 0 auto;
  }
  .main-header .header-text {
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  /* aktiviteter */
  .activity img {
    width: 100%; /* bilderna blir deras normala storlek*/
    border-radius: 1rem; /* mjukar till kanterna lite*/
  }
  .activity {
    display: flex; /* flexbox för att kunna vända på varannan sektion*/
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    justify-items: center;
  }
  .activity .activity-text{
    width: 50%;
    justify-self: center;
  }
  .activityimg{
    width: 40%;
  }
  .activity img{
    width: 100%;
    margin: 0;
  }
  .activity:nth-child(odd) {
    /* flyttar på bilden på varannan sektion */
    flex-direction: row-reverse; /* gör så att bilden hamnar på andra sidan*/
  }
  /* bokning */
  .book-section {
    margin-top: 1rem;
    width: 100%;
    margin: 0 auto;
  }
  .book-section #book{
    width: 50%;
    margin: 0 auto;
    border-top: none;
  }
  
  .book-section input{
    flex: 2;
  }
  .book-section label{
    flex: 1;
  }
  .book-section li input,
  label,
  select {
    font-size: 1.3rem;
    text-align: left;
  }
  .book-section .book-form li {
    display: flex;
    margin: 0.5rem;
  }

  /*griiiiiiiiiiiiiiiiiiiiiiiiiiiiiid*/
  .book-section .book-form {
    display: grid; /* försöker få till en grid så att man kan placera inputen rätt*/
    grid-template-areas: 
    "from-date to-date"
    "first visit"
    "last ."
    "phone ."
    "mail ."
    "button button";
    align-items: center;
    justify-items: end;
    margin: 0.5rem;
    grid-gap: 1rem;
  }

  .book-container .from-date{
    grid-area: from-date;
  }
  .book-container .to-date{
    grid-area: to-date;
  }
  .book-container .visit{
    grid-area: visit;
  }
  .book-container .first{
    grid-area: first;
  }
  .book-container .last{
    grid-area: last;
  }
  .book-container .phone{
    grid-area: phone;
  }
  .book-container .mail{
    grid-area: mail;
  }
    .book-section button {
    align-self: center;
    grid-area: button;
  }
  .book-container .visit{
    display: grid;
    grid-template-areas: 
    "label input"
    "label input";
  }

  


  /*foooooooooooter*/
  footer .contact,
  .phone-number {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    
  }
  .book-section .book-form li {
  margin: 0;
}
}






